/* MAIN CSS */
body {
  padding-top: 80px;
  height: 100%;
  width: 100%; }

.hide {
  display: none; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .5s; }

.grey-overlay {
  position: absolute;
  background-color: rgba(125, 125, 125, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .5s; }

.line {
  background-color: #f0f0f0;
  width: 700px;
  float: center; }

/* HEADER */
#navbar {
  background: #89A327;
  border-bottom: #E01F85 solid 2px; }
  #navbar .active {
    background: rgba(154, 185, 40, 0.5); }
  #navbar .brand {
    height: 80px;
    overflow: hidden; }
  #navbar img {
    height: 65px;
    width: auto; }
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; }
  #navbar li {
    height: 80px;
    float: left;
    padding: 16px; }
    #navbar li a {
      color: white; }
  #navbar li:hover {
    background: rgba(154, 185, 40, 0.5); }
  #navbar .menu-bar {
    display: none; }

@media screen and (max-width: 992px) {
  #navbar .brand {
    margin-top: 10px; }
  #navbar .menu-bar {
    display: block;
    float: right; }
    #navbar .menu-bar .bt-menu {
      color: white; }
    #navbar .menu-bar i {
      font-size: 40px; }
  #navbar li {
    float: none;
    border-bottom: #E01F85 solid 2px; }
  .navigate {
    width: 50%;
    height: 100%;
    left: -100%;
    margin: 0;
    margin-top: 92px;
    position: fixed;
    background: #89A327; } }

/* FOOTER */
#footer {
  border-top: #E01F85 solid 2px; }
  #footer .icon-link {
    font-size: 2em;
    margin: 5px;
    color: #fff; }
  #footer img {
    height: 50px;
    width: 140px; }

/*************************VENTANA GRANDE *******************/
@media screen and (min-width: 992px) {
  #background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #c4e5f2; }
  #sol {
    background: #edd009;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin-left: 150px;
    margin-top: 50px; }
  #tierra {
    background: url("../img/nopal/TIERRA.png");
    background-size: 30% 100%;
    position: fixed;
    bottom: 0;
    height: 40%;
    width: 100%; }
  #logo {
    background: url("../img/LOGO.png");
    background-size: 15%;
    position: fixed;
    left: 45%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; } }

/*************************VENTANA CHICA *******************/
@media screen and (max-width: 992px) {
  #background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #c4e5f2; }
  #sol {
    background: #edd009;
    height: 75px;
    width: 75px;
    border-radius: 150px;
    margin-left: 75px;
    margin-top: 75px; }
  #tierra {
    background: url("../img/nopal/TIERRA.png");
    background-size: 50% 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%; }
  #logo {
    background: url("../img/nopal/TIERRA.png");
    background-size: 30% 100%;
    position: fixed;
    height: 40%;
    width: 100%; } }

/* INDEX */
#enviroment {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0; }

#cielo {
  background: url("../img/nopal/TIERRA.png"), url("../img/nopal/CIELO.png"), #c4e5f2;
  background-position: left bottom, 10% top;
  background-repeat: repeat-x, no-repeat;
  background-size: 30%,40%,auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#semilla {
  position: absolute;
  bottom: 20%;
  left: 48%;
  width: 100px;
  height: 100px;
  display: none;
  -webkit-transition: width 1s,height 1s; }

#semilla_bg {
  position: absolute;
  bottom: 20%;
  left: 46%;
  width: 150px;
  height: 150px;
  display: none;
  -webkit-transition: width 1s,height 1s; }

#helper {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.left-bar {
  width: 20px;
  height: 800%; }

.navbar {
  background: rgba(50, 90, 63, 0); }

a.nav-link {
  color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5); }

a:hover {
  color: white; }

a.active {
  color: white; }

ul.navbar-nav li {
  margin-right: 50px;
  margin-left: 50px; }

.logo {
  height: 250px;
  width: auto;
  margin-top: 50%;
  -webkit-transition: width 1s, height 1s, margin-right 1s,margin-top 1s; }

#header {
  position: relative;
  min-height: 100%;
  background: url("../img/slide2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }

/* RECETARIO */
#mega {
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: max-height 1.7s ease; }
  #mega .pt-50 {
    padding-top: 25%; }
  #mega .pt-45 {
    padding-top: 22%; }

#mega2 {
  background: #fff;
  overflow: hidden;
  max-height: 0%;
  height: auto;
  width: 100%;
  position: absolute;
  -webkit-transition: max-height 3.7s ease; }

#intro {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: max-height 1.7s ease, display 1.7s; }

#main {
  overflow: hidden;
  position: absolute;
  max-height: 0%;
  width: 100%;
  background: url("../img/slide3.jpg");
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-transition: max-height 1.7s ease, display 1.7s; }
  #main .align-middle {
    top: 50%; }
  #main .circle {
    border-radius: 1.25rem; }

#filter {
  text-align: center; }
  #filter .input-group-addon {
    background: rgba(255, 255, 255, 0.5); }

#recepies {
  height: auto;
  width: 100%;
  -webkit-transition: max-height 1.7s ease; }
  #recepies .img-background {
    height: 350px; }
  #recepies .circle {
    border-radius: 1.25rem; }
  #recepies .isRecepie {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    padding-right: 50px;
    padding-left: 50px;
    max-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: max-height .5s; }

/*ARGUMENTOS */
#argumentos_1 {
  height: 200px;
  width: 100%;
  background: url("../img/slide6.jpg");
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff; }
  #argumentos_1 .dk-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }

.accord {
  width: 100%; }

/* Directorio */
#dir .carta {
  border: 2px solid #777;
  width: 100%;
  border-radius: 10px; }

#dir img {
  width: 250px;
  height: auto; }

#header_dir {
  height: 200px;
  width: 100%;
  background: url("../img/slide7.jpg");
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff; }
  #header_dir .dk-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }

/* CONTACT */
#contact {
  height: 200px;
  width: 100%;
  background: url("../img/slide2.jpg");
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff; }
  #contact .dk-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
